.filters-div .filter{
    width: 100%;
    margin-top: 5px;
}

.filters-div label{
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
}

#filter-panel .p-panel-header{
    border-radius: 0px;
}