.submission-form{
    /*text-align: left;*/
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-left:20px;
    margin-right:20px;
    background-color: #dee2e671;
}

.submission-form p{
 /*text-align: left;*/
}
.submission-form .p-inputnumber, .submission-form .p-inputtext{
    width: 100%;
}

.img-pick-div{
    font-weight: bold;
    cursor: pointer;
}

.img-pick-div i, .choosen-label{
    color: green;
    margin-left: 5px;
}